process.shell = ['/bin/bash']



mail {
    smtp.host = 'smtpgw.cdc.gov'
}

profiles {
    test {
        params.inpath   = "${PWD}/tests/data"
        params.outpath  = "${PWD}/test-outpath"
        params.logpath  = "${PWD}/test-outpath/log"
    }

    sge {
        process {
            executor = 'sge'
            penv     = 'smp'
            queue    = 'all.q'
        }
        executor {
            queueSize    = 100
            pollInterval = '15 sec'
        }
    }

    short {
        process {
            queue = 'short.q'
        }
    }

    gpu {
        process {
            queue = 'gpu.q'
        }
    }

    highmem {
        process {
            queue = 'highmem.q'
        }
    }

    conda {
        docker.enabled         = false
        params.enable_conda    = true
        singularity.enabled    = false
        shifter.enabled        = false
    }

    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        fixOwnership           = true
        runOptions             = "-u \$(id -u):\$(id -g)"
        singularity.enabled    = false
        shifter.enabled        = false
        registry               = "snads"
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        shifter.enabled        = false
        conda.enabled          = false
        params.enable_conda    = false
    }

    shifter {
        shifter.enabled        = true
        docker.enabled         = false
        singularity.enabled    = false
    }
}

// def trace_timestamp = new java.util.Date().format('yyyy-mon-dd_dow_HH:mm:ss')
def trace_timestamp = new java.util.Date().format('yyyy-MM-dd HH:mm:ss')

// Default parameters (can be overwritten by command line inputs)
params.inpath = new File("${launchDir}").getCanonicalPath()
params.outpath = new File("${launchDir}").getCanonicalPath()
params.logpath = new File("${params.outpath}/.log").getCanonicalPath()
params.refpath = 'largest'
params.examplepath = new File("${launchDir}/example_output").getCanonicalPath() // TODO: remove this when development is finished
params.help = false
params.version = false
params.recombination = false
params.enable_conda_yml = false

timeline {
    enabled = true
    file    = "${params.outpath}/timeline.${trace_timestamp}.html"
}

report {
    enabled = true
    file    = "${params.outpath}/report.${trace_timestamp}.html"
}

trace {
    enabled = true
    fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
    file    = "${params.outpath}/trace.${trace_timestamp}.txt"
}

dag {
    enabled = true
    file    = "${params.outpath}/pipeline_dag.${trace_timestamp}.svg"
}

executor {
    queueSize = 2
}

// Increase conda env build duration
conda { createTimeout = "90 min" }

manifest {
    author = 'Christopher A. Gulvik'
    description = 'Identify SNPs from bacterial genome assemblies'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.01.0'
    version = '1.0.0'
}
