/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    /*
    ================================================================================
                            All modules
    ================================================================================
    */
    publishDir =  [
        [
            // QC file checks
            path:    params.qc_filecheck_log_dir,
            mode:    params.publish_dir_mode,
            pattern: "*_File.tsv"
        ],
        [
            // Stdout and stderr
            path:    params.process_log_dir,
            mode:    params.publish_dir_mode,
            pattern: ".command.{out,err}",
            saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
        ]
    ]

    /*
    ================================================================================
                            Module specific
    ================================================================================
    */

    withName: CORE_GENOME_ALIGNMENT_PARSNP {
        publishDir = [
            [
                path:    { "${params.outdir}/Parsnp" },
                mode:    params.publish_dir_mode,
                pattern: "Parsnp.*"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${task.process}${filename}" }
            ]
        ]
    }

    withName: EXTRACT_SNP_POSITIONS_PARSNP {
        publishDir = [
            [
                path:    { "${params.outdir}/Parsnp" },
                mode:    params.publish_dir_mode,
                pattern: "*.fa"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${task.process}${filename}" }
            ]
        ]
    }

    withName: CALCULATE_PAIRWISE_DISTANCES_BIOPYTHON {
        publishDir = [
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${task.process}${filename}" }
            ]
        ]
    }

    withName: CREATE_SNP_DISTANCE_MATRIX_BIOPYTHON {
        publishDir = [
            [
                path:    { "${params.outdir}/Parsnp" },
                mode:    params.publish_dir_mode,
                pattern: "*.{Matrix.tsv,gz}"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${task.process}${filename}" }
            ]
        ]
    }

    withName: CONVERT_XMFA_FASTA_PYTHON {
        publishDir = [
            [
                path:    { "${params.outdir}/Parsnp" },
                mode:    params.publish_dir_mode,
                pattern: "*.fasta"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${task.process}${filename}" }
            ]
        ]
    }

    withName: RECOMBINATION_CLONALFRAMEML {
        publishDir = [
            [
                path:    { "${params.outdir}/${meta.aligner}/ClonalFrameML" },
                mode:    params.publish_dir_mode,
                pattern: "ClonalFrameML.*"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${task.process}${filename}" }
            ]
        ]
    }

    withName: RECOMBINATION_GUBBINS {
        publishDir = [
            [
                path:    { "${params.outdir}/${meta.aligner}/Gubbins" },
                mode:    params.publish_dir_mode,
                pattern: "Gubbins.*"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${task.process}${filename}" }
            ]
        ]
    }

    withName: MASK_RECOMBINANT_POSITIONS_BIOPYTHON {
        publishDir = [
            [
                path:    { "${params.outdir}/${meta.aligner}/${meta.recombination}" },
                mode:    params.publish_dir_mode,
                pattern: "*.fasta"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${task.process}${filename}" }
            ]
        ]
    }

    withName: BUILD_PHYLOGENETIC_TREE_PARSNP {
        publishDir = [
            [
                path:    { "${params.outdir}/${meta.aligner}/${meta.recombination}" },
                mode:    params.publish_dir_mode,
                pattern: "*.tree"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${task.process}${filename}" }
            ]
        ]
    }
}
