/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTTREE {
        ext.args = '-gtr'
    }

    withName: IQTREE {
        ext.args = '-m GTR+G'
        tag = ''
    }

    withName: SNPDISTS_MATRIX {
        ext.args = '-b'
        ext.prefix = { "${meta.id}_SNP_Distances_Matrix" }
        tag = 'matrix'
    }

    withName: SNPDISTS_PAIRS {
        ext.args = '-m'
        ext.prefix = { "${meta.id}_SNP_Distances_Pairs" }
        tag = 'pairs'
    }

    withName: SNPDISTS_MATRIX_RECOMB {
        ext.args = '-b'
        ext.prefix = { "${meta.id}_SNP_Distances_Matrix" }
        tag = 'matrix'
        publishDir = [
            path: { "${params.outdir}/snpdists_recombination" }
        ]
    }

    withName: SNPDISTS_PAIRS_RECOMB {
        ext.args = '-m'
        ext.prefix = { "${meta.id}_SNP_Distances_Pairs" }
        tag = 'pairs'
        publishDir = [
            path: { "${params.outdir}/snpdists_recombination" }
        ]
    }

    withName: QUAST {
        ext.args = '--fast'
    }

    withName: SNPSITES {
        ext.args = '-c'
    }

   withName: GUBBINS {
       ext.args = '--model GTRCAT --recon-model GTRCAT'
   }

   withName: CLONALFRAMEML {
       tag = ''
   }

   withName: CLUSTER_RECOMB {
       publishDir = [
           path: { "${params.outdir}/cluster_recombination" }
       ]
   }

    withName: GGTREE_RECOMB {
       publishDir = [
           path: { "${params.outdir}/ggtree_recombination" }
       ]
   }

}
