/*
This file includes default values for Aspen HPC parameters.
*/

params {
    sge_penv                = 'smp'
    sge_queue               = 'all.q'
    sge_queue_size          = 100
    sge_options             = ""
}

process {
    executor                = 'sge'
    penv                    = params.sge_penv
    queue                   = params.sge_queue
    clusterOptions          = params.sge_options
    errorStrategy           = { task.exitStatus in [71,104,134,137,139,140,143,255] ? 'retry' : 'ignore' }
}

executor {
    queueSize               = params.sge_queue_size
    pollInterval            = '15 sec'
}
