/*
This file includes default values for Rosalind HPC parameters.
*/

params {
    sge_penv                = 'smp'
    sge_queue_size          = 100
    sge_options             = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
    sge_process_time        = 72.h
    sge_process_high_mem    = 300.GB
    sge_process_high_cpu    = 40
}

process {
    executor                = 'sge'
    penv                    = params.sge_penv
    queue                   = { task.time <= 4.h ? 'short.q' : task.time > 70.h ? 'long.q' : 'all.q' }
    clusterOptions          = params.sge_options
    errorStrategy           = { task.exitStatus in [71,104,134,137,139,140,143,255] ? 'retry' : 'ignore' }

    // Module specific resource adjustments
    withName: CORE_GENOME_ALIGNMENT_PARSNP {
        time                = { check_max( params.sge_process_time     * task.attempt, 'time'   )}
        cpus                = { check_max( params.sge_process_high_cpu * task.attempt, 'cpus'   )}
        memory              = { check_max( params.sge_process_high_mem * task.attempt, 'memory' )}
    }

    withName: BUILD_PHYLOGENETIC_TREE_PARSNP {
        time                = { check_max( params.sge_process_time     * task.attempt, 'time'   )}
        cpus                = { check_max( params.sge_process_high_cpu * task.attempt, 'cpus'   )}
        memory              = { check_max( params.sge_process_high_mem * task.attempt, 'memory' )}
    }
}

executor {
    queueSize               = params.sge_queue_size
    pollInterval            = '15 sec'
}
